/* --------Header---------- */
header{
    background-color: #ffffff;
   
    height: 50px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cccccc;
}

.my-name {
    background-color: #4aaaa5;
    /* Font, text size, bold-face, text-color */
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
}

nav {
    -background-color: #ebebeb;
    width: 270px;
    display: flex;
    justify-content: space-between;
    
    
}

.nav-link {
    padding: 5px;
    -background-color: #f4ccf8;
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* --------Main Body---------- */

.content-area {
    background-image: url("../images/concrete_seamless.png");
    display: flex;
    justify-content: center;
    padding: 50px 0;
    
}

.content-wrapper {
    -background-color: #b5b5ff;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 960px;
}

main {
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    box-sizing: border-box;
    width: 650px;
    background-color:#ffffff;
    padding: 20px 40px;

}

.main-title {
    -background-color: #f4ccf8;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cccccc;

    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 2em;
    font-weight: bold;
    color: #4aaaa5;
}

.profile-pic {
    float: left;
    padding: 10px;
}

.main-text {
    line-height: 150%;
}

aside {
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 270px;
    padding: 10px 20px;
}

.aside-title {
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: #dddddd;

    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #4aaaa5;
}

.aside-link-wrapper {
    border-color: #dddddd;
    display: flex;
    align-items: center;
}

/* --------Footer---------- */
footer {
    background-color: #808080;
    height: 40px;
    text-align: center;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #4aaaa5;
    color: #c7c7c7;

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 0.75em;
}
